/* Game board container */
#game-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 600px;
}

/* Style for the game board */
#player-board,
#enemy-board {
  border-collapse: collapse;
  margin-top: 20px;
  padding-right: 1rem;
}

/* Style for individual cells */
.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
}

/* Style for hit cells */
.cell.hit {
  background-color: red;
}

/* Style for sunk cells */
.cell.sunk {
  background-color: darkred;
}

/* Style for miss cells */
.cell.miss {
  background-color: lightblue;
}

